---
import type { IterationInfo } from "@forastro/utilities";
import { For } from "@forastro/flow";

type Props = {
  key: string | number;
  info: IterationInfo;
  value: string | number;
};

const {
  key,
  info: { count, isEven, isFirst, isLast, isOdd, iteration, remaining },
  value,
} = Astro.props;

const tableHeaderValues = ["Type", "Value"];
const tableInfo = {
  key,
  value,
  isFirst,
  isLast,
  isOdd,
  isEven,
  iteration,
  remaining,
  count,
};
---

<table class="w-48 shadow-sm shadow-gray-800 rounded">
  <thead class="bg-gray-200">
    <tr class="grid grid-cols-2">
      <For of={tableHeaderValues}>
        {
          (value: string) => (
            <th class="px-4 py-2 last-of-type:border-l-2 last-of-type:border-gray-400">
              {value}
            </th>
          )
        }
      </For>
    </tr>
  </thead>
  <tbody class="block text-sm font-light">
    <For of={Object.entries(tableInfo)}>
      {
        ([key, value]) => (
          <tr class="grid grid-cols-2 ">
            <td class="px-4 py-2 ">{key}</td>
            <td class="px-4 py-2">{`${value}`}</td>
          </tr>
        )
      }
    </For>
  </tbody>
</table>
