---
interface Button extends astroHTML.JSX.ButtonHTMLAttributes {
  href?: never;
  onclick: `${string}()`;
  type?: never;
}

interface Anchor extends astroHTML.JSX.AnchorHTMLAttributes {
  href: `/${string}`;
  onclick?: never;
}

type Props = Button | Anchor;

const { type, onclick, href, class: $class, ...rest } = Astro.props;
---

{
  (() => {
    if (!onclick && !href)
      return 'You shuld pick between a href and a onclick prop';

    if (onclick && href)
      return 'There should only be one an onclick or a button';

    if (href)
      return (
        <a {type} {href} {...rest}>
          <slot />
        </a>
      );

    return (
      <button type="button" {onclick} {...rest}>
        <slot />
      </button>
    );
  })()
}
