---
import AstroCircle from '../components/AstroCircle.astro';
import Layout from '../layouts/Layout.astro';

import { Icon }  from 'astro-icon';

import { DefineTemplate, Projector, iterate } from '@forastro/utilities';

const DIRECTIONS = Object.freeze(["top", "top-left", "top-right", "bottom-left", "bottom-right"])

const COMPONENT_RENDERER_ICONS = Object.freeze([
	"logos:svelte-icon",
	"logos:vue", 
	"logos:angular-icon",
	"logos:solidjs-icon",
	 "logos:react"  
])

const DirectionsWithIconsMap = new Map(DIRECTIONS.map((value, index) => [value, COMPONENT_RENDERER_ICONS.at(index)]))

---

<DefineTemplate templateName='container' >
	{(slot:string)=> (
	<div data-content class="mx-auto w-4/5 max-w-5xl">
		<Fragment set:html={slot}/>
	</div>		
	)}
</DefineTemplate>

<Layout 
	title="Astro Circle" 
	description='This is the site where you can download Astro icons with Frameworks as icons'	 
>

	<header class="py-12 px-16">
		<div class="flex flex-col justify-center items-center gap-12">

		<h1 class="text-5xl capitalize">Welcome to the astro framework circle</h1>
		
		<p class="text-xl leading-relaxed max-w-[65ch]">
			This page is a site where you can download a component called the Astro Circle.
			It's a component that is the Astro Icon surrounded by a purple circle. <br/>
			To use it you must install `astro-icon` then click on the link to download the icon.
			This component is a circle with the Astro Icon in the middle. 
			It allows you to render an icon in different sides depending on which slot you use.
		</p>

		</div>
	</header>
	<main class="px-12 py-6 ">
	<Projector templateName='container' >
	 <div class="flex flex-col justify-center items-center gap-6 ">
			
		<a
		href={`/AstroCircle.astro`}
		download
		class:list={[
		 "rounded-md px-12 py-4",
		 "bg-purple-500 text-orange-600",
		 "[&:is(:hover,:focus)]:text-purple-500 [&:is(:hover,:focus)]:bg-orange-600",
		 "active:scale-90 active:opacity-90",
		 "transition-transform duration-500 ease-in",
		 "transition-opacity duration-250 ease-out",
		]
		}
		>
		Download Astro Circle
		</a>
		<strong class="text-xl leading-relaxed max-w-[65ch]">
		 Below are examples of each icon being rendered in the following directions.
		</strong>
		<ul
		role="list"
		title="valid directions"
		class="list-inside list-disc text-xl md:w-3/5"
		>
			{DIRECTIONS.map((value)=> <li>{value}</li>)}
		</ul>
			
		   <div class="grid gap-8 grid-cols-2">
			
			{iterate(DirectionsWithIconsMap, (value,_,key)=> (
				<AstroCircle>
					<Fragment slot={key} >
						<Icon width="1.5rem" name={value}  />
					</Fragment>
				</AstroCircle >
			
			))}

		</div>
	 </div>		
	</Projector>

	</main>
	<footer class="px-6 py-3">
		<div data-content class="flex flex-col justify-center items-center gap-3">

			<strong class="text-xl">This is the list of Recommended Icons</strong>

			<ul role="list" title="Recommended Icons" class="list-inside text-lg list-disc">
				{iterate(COMPONENT_RENDERER_ICONS,(value => <li>{value}</li>))}
			</ul>

		</div>

	</footer>


</Layout>

	